@import "mocha.css";

* {
    color: @mauve;
    margin: 0;
    padding: 0;
    border: none;
    font-family: UbuntuMono;
    font-size: 14px;
    font-weight: bold;
}
 
window#waybar {
    background-color: rgba(0, 0, 0, 0);
}

#clock, #battery, #cpu, #memory, #temperature, #backlight, #network {
    padding: 3px 3px;
    border-style: solid;
    background-color: shade(@base, 1); 
    opacity: 1;
    margin: 3px 0px;
}

#clock {
    color: @sky;
    border-radius: 5px;
}

#backlight {
    color: @yellow;
    border-radius: 5px 0px 0px 5px;
}

#temperature {
    color: @teal;
}

#cpu {
    color: @sky;
}

#memory {
    background-color: @base;
    color: @sky;
}

#network.disabled {
    color: #bf616a;
}

#battery {
    color: @white;
}

#network{
    color: @green;
    border-radius: 0px 5px 5px 0px;
    margin-right: 3px;
}

