window {
    font-family: UbuntuMono;
    margin: 0px;
    padding: 0px;
    border: 2px solid #33ccff;
    background-color: shade(#1e1e2e, 1);
    font-size: 14px;
    border-radius: 10px;
}

#input {
    margin: 5px;
    border: none;
    color: #f8f8f2;
    background-color: rgba(55, 59, 65, 0.95);
}

#input > image.left {
    -gtk-icon-transform:translateX(-100%);
    -gtk-icon-transform:scaleX(0);
}

#inner-box {
    margin: 5px;
    border: none;
    background-color: transparent;
}

#outer-box {
    margin: 5px;
    border: none;
    background-color: transparent;
}

#scroll {
    margin: 0px;
    border: none;
}

#text {
    margin: 5px;
    border: none;
    color: #c5c8c6;
}

#entry {
    border: none;
}

#entry:focus {
    border: none;
}

#entry:selected {
    background-color: rgba(55, 59, 65, 0.95);
    border-radius: 5px;
    border: none;
}