*{
    font-family: "Overpass Nerd Font";
    font-size: 16px;
}
 
window {
    border: 5px solid #2C9FB5;
    border-radius: 20px;
}
 
#input {
    margin-bottom: 15px;
    padding:3px;
    border-radius: 5px;
    border: none;
    color: #b6c0cd;
}
 
#inner-box {
    background-color: #282f3e;
    box-shadow: -4px -3px 45px 21px rgba(0,0,0,0.35);
}
 
#outer-box {
    margin: 5px;
    padding: 10px;
    background-color: #1E242F;
    border-radius: 15px;
}
 
#text {
    padding: 5px;
    color: #b6c0cd;
}
 
#entry {
    padding: 10px;
}
 
#entry:nth-child(even) {
    background-color: #1E242F;
}
 
#entry:selected {
    background-color: #B08130;
}
